<div class="row align-items-center bg-body-tertiary justify-content-center" style="position:fixed;top:0;left:0;right:0;bottom:0;z-index:2000;">
	<div class="col-lg-4 bg-body-secondary">
		<div class="row p-4">
			<div class="col-12 mb-3">
				<h3>The Server is experiencing some Error!</h3>
			</div>
			<div class="col-12">
				<p>The server encountered some error while processing the requests. This may be due to a corrupt file or database errors. Please check the log files for more information.</p>
			</div>
		</div>
	</div>
</div>
